body{
    color:white;
    background-color:#515A5A;
    font-family:verdana;
}

footer {
	text-align:center;
	padding:1px;
	margin: 20px 0 0 0;
	background-color:#fff;
	color:#999;
	border-top:dashed thin #999;
}

#title {
    text-align:center;
    border: white thin solid;
    color:black;
    background-color:rgb(112, 193, 183);
    font-size:65px;
    text-align:center;
}

#submit{
    text-align:center;
    border:rgb(0,230,0) thin solid;
    background-color: rgb(133, 250, 133);
    color:black;
    font-family:"comic sans ms";
    font-size: 40px;
    position:relative;
    margin-left:45%;
}

#submit:hover{
    background-color:rgb(9, 220, 9);
}

.questionHeading{
    font-size:30px;
}

.face{
    width:30px;
}

input[type=radio] {
    border: 0px;
    width: 5%;
    height: 2em;
}

input[type=text] {
    width: 40%;
    height: 40px;
    font-family: verdana;
    font-size:30px;
}

input[type=number] {
    width: 5%;
    height: 40px;
    font-family: verdana;
    font-size:30px;
    margin-left:20px;
}

input[type=checkbox] {
    width: 5%;
    height: 30px;
    font-family: verdana;
    margin-left:20px;
}
